@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#0d101b, #281a2d);
    overflow-x: hidden;

}

.img-input-button{
    margin-top: 20px;
    background-color: #ff1100;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#fotoPerfil{
    margin-top: 10px;
    color: white;
}
.img-input-button:hover{
    background-color: #8f0404;
    transition: 0.5s;
}
.sidebar {
    font-family: "Poppins", sans-serif;
    position: fixed;
    width: 50px;
    height: 100%;
    left: 0;
    top: 0;
    background: #281a2d;
    padding: 6px 16px;
    box-shadow: 5px 0 30px rgba(0, 0, 0, .1);
    transition: all .5s ease;
    z-index: 1;
}

.sidebar.active {
    width: 240px;
}

.sidebar .logo_content .logo {
    display: flex;
    color: #b8b7b7;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 30px;
    margin-left: 5px;
    pointer-events: none;
    opacity: 0;
    transition: all .5s ease;
}

.sidebar.active .logo_content .logo {
    transition: all .5s ease;
    opacity: 1;
}

.sidebar .logo_content .logo .logo_name {
    font-size: 23px;
    font-weight: 600;
    margin-left: 0 10px;
}

.sidebar #btn {
    position: absolute;
    color: #af2747;
    left: 50%;
    top: 6px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
}

.sidebar.active #btn {
    left: 85%;
}

.sidebar .src {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.sidebar .src input {
    position: absolute;
    height: 100%;
    width: calc(100% - 50px);
    left: 0;
    top: 0;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #af2747;
    padding-left: 50px;
    font-size: 15px;
    color: #343232;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    transition: all .5s ease;
}

.sidebar .src .bx-search {
    position: absolute;
    z-index: 99;
    font-size: 22px;
    color: #000000;
    transition: all .5s ease;
}

.sidebar .src .bx-search:hover {
    color: #00000000;
}

.sidebar .src .bx-search:hover~input {
    background-color: #ffffff;
}

.sidebar i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0;
    line-height: 50px;
    list-style: none;
}

.sidebar ul li a {
    color: #b3b3b3;
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 20px;
    font-size: 13px;
    white-space: nowrap;
    transition: all .4s ease;
}

.sidebar ul li a:hover {
    background: #e7e9f5;
    color: #0b2997;
}

.sidebar .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .link_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 130px;
    top: 0;
    transform: translate(-45%, -50%);
    border-radius: 10px;
    min-height: 35px;
    min-width: 130px;
    background: #ffffff;
    line-height: 35px;
    text-align: center;
    font-size: 13px;
    display: block;
    color: #242424;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    pointer-events: none;
    opacity: 0;
    transition: all .5s ease;
}

.sidebar.active li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
    top: 50%;
}

.container {
    width: calc(100% - 360px);
    /* Reduz a largura para compensar a largura da barra lateral */
    height: 20vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Alterado para espaçamento entre os elementos */
    z-index: 0;
    transition: all .5s ease;
    font-family: arilal;
}

.sidebar.active~.container {
    width: calc(100% - 300px);
    /* Reduz ainda mais a largura quando a barra lateral está ativa */
}

.container nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    /* Alterado para espaçamento entre os elementos */
    align-items: center;
}

.container nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.container nav ul li {
    margin-left: 40px;
    /* Espaçamento entre os itens do menu */
}

.container nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.container nav ul li a:hover,
.container nav ul li a:visited:hover {
    text-decoration: none !important;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.welcome {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    margin-right: 750px;
}

.sidebar.active~.container .welcome {
    opacity: 0;
    transition: all .5s;
}

.sidebar input::placeholder {
    color: black;
    /* Defina a cor do placeholder */
}


/*----content style----*/

.box-question {
    background-color: var(--white);
    margin-top: 600px;
    /* Reduzi a margem para ajustar melhor ao layout */
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 650px;
    min-height: 550px;
    max-height: 550px;
    /* Defini um valor máximo de altura */
    overflow-y: auto;
    /* Adicionei uma barra de rolagem vertical quando necessário */
    border-radius: 10px;
    text-align: center;
    animation: fade-slide-up 1s ease-out;
}

.header {
    background-color: var(--red);
    border-radius: 10px 10px 0 0;
    color: var(--white);
    font-size: 1.4rem;
}

.footer {
    background-color: var(--red);
    padding: 1rem;
    border-radius: 0 0 10px 10px;
}

#message-input {
    width: 50%;
    font-size: 1rem;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#button {
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    padding: 10px;
}

#button:hover {
    background-color: var(--gray);
    cursor: pointer;
    transition: .4s;
}

#historic {
    padding: 1rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.box-my-message {
    text-align: right;
}

.box-my-message {
    display: flex;
    justify-content: flex-end;
}

.box-response-message {
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
}

.my-message {
    text-align: right;
    background-color: var(--gray);
}

.chat-response {
    text-align: left;
    background-color: var(--gray2);
}

.my-message,
.chat-response {
    border-radius: 10px;
    padding: 1rem;
    color: var(--dark);
    margin: 0;
}

.animação {
    display: flex;
    justify-content: flex-start;
    width: 8px;
    height: 8px;
    border: 8px solid #434343;
    border-top-color: var(--red);
    border-radius: 50%;
    animation: girando 1s infinite;
}

.box-animation-message {
    margin-top: -60px;
}

.selection {
    background-color: var(--white);
    margin-top: 600px;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    min-height: 550px;
    max-height: 550px;
    animation: fade-slide-up 1s ease-out;
}

#pessoas,
#bandas {
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    width: 120px;
    /* Ajusta a largura para acomodar ambas as imagens e os textos */
    height: 20px;
    /* Mantém a mesma altura */
    margin-right: 10px;
    /* Adiciona um espaçamento entre os elementos */
}

#pessoas,
#bandas {
    display: flex;
    align-items: center;
}

.custom-checkbox input[type="checkbox"] {
    opacity: 0;
}

.custom-checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 50px;
}

.custom-checkbox img {
    display: flex;
}

.custom-checkbox input[type="checkbox"]:checked+label {
    font-weight: bold;
    /* Exemplo de estilo quando marcado */
}

.voltar {
    padding: 8px;
    margin-top: 105px;
    margin-left: 50px;
    background-color: #281a2d;
    height: 40px;
    border-radius: 5px;
    animation: fade-slide-up 1s ease-out;
}

.voltar button {
    padding: 10px;
    border-radius: 5px;
    background-color: #6b2341;
    font-weight: 600;
}

.voltar button:hover {
    background-color: #af2747;
    cursor: pointer;
}

:root {
    --dark: #0d101b;
    --white: #fff;
    --red: #ee243d;
    --gray: #af2747;
    --gray2: #6b2341;
}

@keyframes girando {
    to {
        transform: rotate(1turn);
    }
}

@keyframes fade-slide-up {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.busca-instrumentos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img-preview-container {
    display: flex;
}

.img-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img {
    max-width: 350px;
    max-height: 350px;
    border-radius: 20px;
}

.img-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    min-height: 70px;
}

.img-input-button {
    min-width: 100px;
    min-height: 40px;
}

.texto-title {
    font-size: x-large;
    color: #b3b3b3;
}

.texto-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}